@mixin transitionAll($val) {
  -webkit-transition: all $val ease;
  -moz-transition: all $val ease;
  -o-transition: all $val ease;
  -ms-transition: all $val ease;
  transition: all $val ease;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin devQueryTool(){

  @media only screen and (max-width : 2500px) {


    p{
      color: yellow !important;
    }

  }
  @media only screen and (max-width : 1840px) {
    p{
      color: brown !important;
    }
  
  }

  @media only screen and (max-width : 1640px) {
   p{
      color: peru !important;
    }
  
  }

  @media only screen and (max-width : 1440px) {
   p{
      color: blueviolet !important;
    }
  
  }

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    p{
      color: green !important;
    }

  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    p{
        color: blue !important;
    }

  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    p{
        color: green !important;
    }
    
  }
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    p{
        color: olive !important;
    }
    
  }
  
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
    p{
      color: pink !important;
    }
    
  }

  @media only screen and (min-width : 2500px) {
    p{
      color: orange !important;
    }
  }
}